{% extends 'base.html' %}


{% block content %}
 <section class="section mt-5">
     <div class="container">
        <div class="columns is-centered">
            <div class="column is-8">
                <div class="box">
                    <h1 class="title has-text-centered">About</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, pariatur cumque. Dolor placeat, optio animi facere doloremque sapiente consequuntur dicta? Obcaecati laudantium eveniet fugit totam vitae dolores possimus consectetur earum, repellat debitis aliquid corrupti quibusdam dolor fugiat, voluptas ad dolorem!
                    </p>
                </div>
            </div>
        </div>
     </div>
 </section>
{% endblock content %}