{% extends 'base.html' %}


{% block content %}
    <section class="section mt-5">
        <div class="container">
            <div class="columns  is-centered">
                <div class="column is-7">
                    <h1 class="title has-text-centered">Sign Up</h1>
                    <div class="box has-background-primary">
                        <form action="" method="POST">
                            {{ form.hidden_tag() }}
                            <div class="field">
                                <div class="control">
                                    {{ form.username.label(class='is-small') }}
                                    {{ form.username(class='input is-small') }}
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    {{ form.email.label(class='is-small') }}
                                    {{ form.email(class='is-small input') }}
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    {{ form.password.label(class='small') }}
                                    {{ form.password(class='is-small input') }}
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    {{ form.confirm_password.label(class='small') }}
                                    {{ form.confirm_password(class='is-small input') }}
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    {{ form.submit(class='button is-button is-block is-fullwidth is-link') }}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}